.loader {
    align-content: center;
    background-color: #ffffffc0;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9000;
}
.loader.ring {
    background-color: transparent;
    position: relative;
    margin-top: 150px;
    width: 120px;
    height: 120px;
}
.loader.ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 8px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: red transparent transparent transparent;
}
/* .loader.ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.loader.ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.loader.ring div:nth-child(3) {
    animation-delay: -0.15s;
} */
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
